In [2]:
import pandas as pd

In [4]:
holidays = pd.read_csv("energy_holidays.csv")
metadata = pd.read_csv("energy_metadata.csv")
frequency= pd.read_csv("energy_submission_frequency.csv")
train = pd.read_csv("energy_train.csv")
#weather = pandas.read_csv("weather.csv")

In [80]:
train[train.ForecastId==4]

      obs_id  SiteId            Timestamp  ForecastId         Value
810  7858028       1  2017-05-20 00:00:00           4  8.735687e+06
811   764676       1  2017-05-21 00:00:00           4  8.574455e+06
812  3514238       1  2017-05-22 00:00:00           4  7.902457e+06
813  1864702       1  2017-05-23 00:00:00           4  7.041917e+06
814  5011663       1  2017-05-24 00:00:00           4  5.925648e+06
815  1523102       1  2017-05-25 00:00:00           4  6.036873e+06
816   483319       1  2017-05-26 00:00:00           4  3.995240e+06
817  1655294       1  2017-05-27 00:00:00           4  2.354789e+06
818  7221612       1  2017-05-28 00:00:00           4  4.653609e+06
819  4150053       1  2017-05-29 00:00:00           4  5.300880e+06
820  7834574       1  2017-05-30 00:00:00           4  5.762824e+06
821  2576101       1  2017-05-31 00:00:00           4  8.002373e+06
822  1672547       1  2017-06-01 00:00:00           4  8.153692e+06
823   274424       1  2017-06-02 00:00:00           4  8.165534e+06
824  5363310       1  2017-06-03 00:00:00           4  7.952452e+06
825  7485666       1  2017-06-04 00:00:00           4  8.346072e+06
826  2634927       1  2017-06-05 00:00:00           4  7.963417e+06
827  7162410       1  2017-06-06 00:00:00           4  7.329012e+06
828   697790       1  2017-06-07 00:00:00           4  7.753839e+06
829  2201815       1  2017-06-08 00:00:00           4  8.207964e+06
830  5680180       1  2017-06-09 00:00:00           4  7.641693e+06
831  2536748       1  2017-06-10 00:00:00           4  8.489820e+06
832   916726       1  2017-06-11 00:00:00           4  8.628736e+06
833  2365206       1  2017-06-12 00:00:00           4  7.582913e+06
834  2687479       1  2017-06-13 00:00:00           4  6.840739e+06
835  5667640       1  2017-06-14 00:00:00           4  8.741859e+06
836  4594397       1  2017-06-15 00:00:00           4  6.520905e+06
837  6913530       1  2017-06-16 00:00:00           4  3.775843e+06
838  6260446       1  2017-06-17 00:00:00           4  2.409425e+06
839  6447621       1  2017-06-18 00:00:00           4  2.271854e+06
..       ...     ...                  ...         ...           ...
870  5215821       1  2017-07-19 00:00:00           4  5.466564e+06
871  6522379       1  2017-07-20 00:00:00           4  4.704874e+06
872   129197       1  2017-07-21 00:00:00           4  3.239014e+06
873  2884571       1  2017-07-22 00:00:00           4  2.548423e+06
874   180731       1  2017-07-23 00:00:00           4  5.019414e+06
875  5311344       1  2017-07-24 00:00:00           4  7.728275e+06
876  5977873       1  2017-07-25 00:00:00           4  9.457201e+06
877  5636959       1  2017-07-26 00:00:00           4  9.559089e+06
878  4447713       1  2017-07-27 00:00:00           4  8.217598e+06
879  4567242       1  2017-07-28 00:00:00           4  8.998796e+06
880  7416112       1  2017-07-29 00:00:00           4  9.676718e+06
881  6942300       1  2017-07-30 00:00:00           4  1.001421e+07
882  5295474       1  2017-07-31 00:00:00           4  9.724861e+06
883  6055353       1  2017-08-01 00:00:00           4  7.452632e+06
884  6969485       1  2017-08-02 00:00:00           4  6.947602e+06
885  3731730       1  2017-08-03 00:00:00           4  5.558993e+06
886  2773225       1  2017-08-04 00:00:00           4  3.109763e+06
887  7554935       1  2017-08-05 00:00:00           4  2.060588e+06
888  3193071       1  2017-08-06 00:00:00           4  2.069479e+06
889  1813471       1  2017-08-07 00:00:00           4  2.276669e+06
890  4203417       1  2017-08-08 00:00:00           4  2.830752e+06
891  2563161       1  2017-08-09 00:00:00           4  2.917397e+06
892  4987435       1  2017-08-10 00:00:00           4  2.125744e+06
893   218824       1  2017-08-11 00:00:00           4  1.854449e+06
894   472163       1  2017-08-12 00:00:00           4  1.742115e+06
895  2585332       1  2017-08-13 00:00:00           4  4.561741e+06
896  3715263       1  2017-08-14 00:00:00           4  2.391621e+06
897    73132       1  2017-08-15 00:00:00           4  2.463797e+06
898  3738568       1  2017-08-16 00:00:00           4  2.364136e+06
899  1809989       1  2017-08-17 00:00:00           4  2.220410e+06

[90 rows x 5 columns]